/* line 17, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* =====================
 * Typography
 * ==================== */
/* = Set up web fonts = */
/* Icon font */
@font-face {
  font-family: "FontAwesome";
  src: url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.eot);
  src: url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.woff) format("woff"), url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.ttf) format("truetype"), url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/font/fontawesome-webfont.svg#fontawesomeregular) format("svg");
  font-weight: normal;
  font-style: normal; }

/* Establish vertical rhythm baseline */
/* line 61, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 75%; }

/* line 64, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 12px;
  line-height: 1.5em; }

/* line 23, sass/_typography.sass */
body {
  color: #333333;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* line 27, sass/_typography.sass */
h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia, serif;
  font-weight: bold; }

/* line 35, sass/_typography.sass */
h1 {
  font-size: 2.66667em;
  line-height: 1.125em;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.5625em;
  text-transform: uppercase; }

/* line 40, sass/_typography.sass */
h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.75em; }

/* line 44, sass/_typography.sass */
h3 {
  font-size: 1.66667em;
  line-height: 1.35em;
  margin-top: 0.9em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.9em; }

/* line 48, sass/_typography.sass */
h4 {
  font-size: 1.33333em;
  line-height: 1.6875em;
  margin-top: 1.125em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.125em;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em; }

/* line 54, sass/_typography.sass */
h6 {
  font-size: 0.91667em;
  line-height: 1.63636em;
  margin-top: 1.63636em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.63636em;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px; }

/* line 61, sass/_typography.sass */
h5, p, ul, ol, dl {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em; }

/* line 66, sass/_typography.sass */
h5 h5, h5 p, h5 ul, h5 ol, h5 dl, p h5, p p, p ul, p ol, p dl, ul h5, ul p, ul ul, ul ol, ul dl, ol h5, ol p, ol ul, ol ol, ol dl, dl h5, dl p, dl ul, dl ol, dl dl {
  margin-top: 0.75em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.75em; }

/* line 69, sass/_typography.sass */
li,
dt,
dd,
th,
td {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em; }

/* line 76, sass/_typography.sass */
p:first-child {
  margin-top: 0; }

/* line 79, sass/_typography.sass */
code,
pre {
  font-family: Menlo, "Andale Mono", "DejaVu Sans Mono", Consolas, monospace; }

/* line 85, sass/_typography.sass */
.mceContentBody ol {
  list-style: decimal; }
  /* line 88, sass/_typography.sass */
  .mceContentBody ol ol {
    list-style: lower-alpha; }
/* line 99, sass/_helpers.sass */
.mceContentBody ul li {
  padding-left: 24px;
  background: url('img/list-bullet.png?1365197358') no-repeat 9.5px 6.5px;
  list-style-type: none; }
/* line 94, sass/_typography.sass */
.mceContentBody ol,
.mceContentBody dd {
  padding-left: 2em; }
/* line 98, sass/_typography.sass */
.mceContentBody ol ol, .mceContentBody ol dd, .mceContentBody dd ol, .mceContentBody dd dd {
  padding-left: 1.5em; }
/* line 101, sass/_typography.sass */
.mceContentBody li {
  line-height: 1.35em;
  margin-top: 0.825em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.825em; }
/* line 105, sass/_typography.sass */
.mceContentBody blockquote {
  margin-top: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #f2f2f2; }
  /* line 111, sass/_typography.sass */
  .mceContentBody blockquote > :last-child {
    margin-bottom: 0; }

/* line 114, sass/_typography.sass */
dt,
strong {
  font-weight: bold; }

/* line 118, sass/_typography.sass */
em {
  font-style: italic; }

/* line 121, sass/_typography.sass */
a,
a:link {
  color: #ec2c2e;
  text-decoration: none; }

/* line 126, sass/_typography.sass */
a:hover {
  text-decoration: underline; }

/* line 129, sass/_typography.sass */
sup,
sub {
  position: relative;
  bottom: 0.55em;
  font-size: 0.75em; }

/* line 135, sass/_typography.sass */
sub {
  bottom: auto;
  top: 0.25em; }

/* line 1, sass/_editor.sass */
.mceContentBody {
  padding: 0.5em; }
